body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1129px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:268px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:268px;
}
#u1 {
  position:absolute;
  left:2px;
  top:126px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:580px;
  top:14px;
  width:51px;
  height:208px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:208px;
}
#u3 {
  position:absolute;
  left:2px;
  top:96px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:512px;
  top:4px;
  width:75px;
  height:248px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:248px;
}
#u5 {
  position:absolute;
  left:2px;
  top:116px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:609px;
  top:16px;
  width:200px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:604px;
  top:96px;
  width:200px;
  height:15px;
  color:#333333;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:858px;
  top:207px;
  width:200px;
  height:18px;
  color:#333333;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:935px;
  top:207px;
  width:35px;
  height:19px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:939px;
  top:208px;
  width:200px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:282px;
  width:980px;
  height:268px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:268px;
}
#u17 {
  position:absolute;
  left:2px;
  top:126px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:580px;
  top:296px;
  width:51px;
  height:208px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:208px;
}
#u19 {
  position:absolute;
  left:2px;
  top:96px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:512px;
  top:286px;
  width:75px;
  height:248px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:248px;
}
#u21 {
  position:absolute;
  left:2px;
  top:116px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:609px;
  top:298px;
  width:200px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:604px;
  top:378px;
  width:200px;
  height:15px;
  color:#333333;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:836px;
  top:635px;
  width:150px;
  height:43px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:43px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:862px;
  top:674px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:704px;
  top:590px;
  width:52px;
  height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:876px;
  top:590px;
  width:100px;
  height:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:-10px;
  top:480px;
  width:1005px;
  height:184px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:184px;
}
#u35 {
  position:absolute;
  left:2px;
  top:84px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:896px;
  top:520px;
  width:71px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u37 {
  position:absolute;
  left:2px;
  top:0px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:766px;
  top:520px;
  width:200px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:716px;
  top:625px;
  width:250px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:22px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:933px;
  top:487px;
  width:35px;
  height:19px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:800px;
  top:489px;
  width:166px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
